.font-size--13 {
	font-size: 13px !important;
}

.font-size--14 {
	font-size: 14px !important;
}

.font-size--16 {
	font-size: 16px !important;
}

.font-size--18 {
	font-size: 24px !important;
}

.font-size--20 {
	font-size: 24px !important;
}

.font-size--24 {
	font-size: 24px !important;
}

.font-size--30 {
	font-size: 30px !important;	
}

.font-size--35 {
	font-size: 35px !important;
}

.font-size--50 {
	font-size: 50px !important;
}

.font-size--120 {
	font-size: 120px !important;
}

.font-bebas {
	font-family: "bebas-neue-pro" !important;
}

.font-sarabun {
	font-family: 'Sarabun', sans-serif !important;
}

.font-sofia {
	font-family: "sofia-pro-soft" !important;
}

.font-sheepman { 
	font-family: "sheepman", serif !important;
}

.font-bungee {
	font-family: "bungee" !important;
}

.font-franklin {
	font-family: "franklin-gothic-extra-compre",sans-serif !important;
}

.normal--text {
	font-weight: 400 !important;
}

.semibold--text {
	font-weight: 500 !important;
}

.medium--text {
	font-weight: 700 !important;
}

.letter-spacing--1 {
	letter-spacing: 1px !important;;
}

.letter-spacing--2 {
	letter-spacing: 2px !important;;
}

.letter-spacing--3 {
	letter-spacing: 3px !important;;
}

.letter-spacing--4 {
	letter-spacing: 4px !important;;
}

.letter-spacing--5 {
	letter-spacing: 5px !important;
}

.letter-spacing--6 {
	letter-spacing: 6px !important;
}